<div id="card">
  <div id="inside">
    <header>
      <div class="left">
        <div id="name">My Monster</div>
      </div>
      <div class="right">
        <div id="hp">40 HP</div>
        <img src="images/thunder.png" alt="thunder" class="icon energy" />
      </div>
    </header>
    <figure id="art">
      <img src="images/pikachu.jpg" alt="pikachu" />
      <figcaption>N°025 Monster</figcaption>
    </figure>
    <div id="capacities">
      <div class="capacity">
        <div class="main">
          <div class="cost">
            <img src="images/thunder.png" alt="thunder" class="icon energy" />
            <img src="images/thunder.png" alt="thunder" class="icon energy" />
          </div>
          <div class="name">Fatal Foudre</div>
          <div class="damage">120</div>
        </div>
      </div>
      <div class="description">
        Fatal-Foudre inflige des dégâts à la cible, et a 30% de chance de la
        paralyser. La Précision de l'attaque devient optimale quand il pleut,
        mais est ramenée à seulement 50 quand le soleil brille
      </div>
    </div>
  </div>
</div>
